!**/data/**/.gitkeep
./certbot/logs/**
./certbot/data/conf/**
./certbot/data/www/**

./fpm/mongodb/data/**
./fpm/mongodb/dump/**

./mysql/data/**
./mysql/dump/**
./mysql/init/db.dump.*

./nginx/logs/**
./meilisearch/data/**
./minio/data/**

./redis/data/**
./redis/settings/**

./mongodb/data/**
./mongodb/dump/

./node/data/**
./node/logs/**