!**/data/**/.gitkeep
.profile
./certbot/logs/**
./certbot/config/**

./fpm/log/**

./mongodb/data/**
./mongodb/dump/**

./mysql/data/**
./mysql/dump/**
./mysql/init/db.dump.*

./nginx/logs/**

./meilisearch/data/**
./minio/data/**

./redis/data/**
./redis/settings/**

./mongodb/data/**
./mongodb/dump/

./node/data/**
./node/logs/**
